################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NirojTemplate.Library/.vs
/NirojTemplate.Library/src/Application/Application/bin
/NirojTemplate.Library/src/Application/Application/obj
/NirojTemplate.Library/src/Domain/Domain/bin
/NirojTemplate.Library/src/Domain/Domain/obj
/NirojTemplate.Library/src/Infrastructure/Infrastructure/bin
/NirojTemplate.Library/src/Infrastructure/Infrastructure/obj
/NirojTemplate.Library/tests/Application.FunctionalTests/bin
/NirojTemplate.Library/tests/Application.FunctionalTests/obj
/NirojTemplate.Library/tests/Application.UnitTests/bin
/NirojTemplate.Library/tests/Application.UnitTests/obj
/NirojTemplate.Library/tests/Domain.UnitTests/bin
/NirojTemplate.Library/tests/Domain.UnitTests/obj
/NirojTemplate.Library/tests/Infrastructure.IntegrationTests/bin
/NirojTemplate.Library/tests/Infrastructure.IntegrationTests/obj
/obj
/bin
/NirojTemplate.Library/obj
/NirojTemplate.Library/bin
/NirojTemplate.Library/src/Web/Api/obj
/NirojTemplate.Library/src/Web/Api/bin

/obj/Debug/net6.0/nuget.assets.cache
